.V_main {
    display: block;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    min-height: 100vh;
}

@media (max-width: 400px) {
    .V_main {
        display: block;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

}