<div class="music_player">
    <table v-if="preparedTracks && preparedTracks.length > 0">
        <tbody>
            <tr style="position: sticky; top: 0; background-color: rgb(243, 243, 243); height: 20px !important;">
                <th>№</th>
                <th>Исполнитель</th>
                <th>Альбом</th>
                <th>Жанр:</th>
                <th>Название:</th>	
                <th>Время:</th>
            </tr>
            <tr v-for="(track, index) in preparedTracks" :key="track.id" :class="{ active: track.id == this.currentTrack.id }" @click="SelectedTrack(track)">
                <td>{{index + 1}}</td>
                <td>{{track.common.artist}}</td>
                <td>{{track.common.album}}</td>
                <td><ul><li v-for="gVal in track.common.genre">{{gVal}}</li></ul></td>
                <td style="text-align: right;">{{track.name}}</td>
                <td>00:00</td>
            </tr>
        </tbody>
    </table>
</div>