.music_player {
    display: block;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.music_player table {
    width: 100%;    
}

.music_player td {
    text-align: right;
    font-size: small;
}