.playlist {
    display: flex;
    width: calc(100vw - 3%);
    height: calc(100vh - 3%);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
 }

.controlpanel { display: inline-block; width: 280px; }

.playlist_arr {
    display: inline-block;
    width: calc(100vw - 310px - 1%);
    min-height: calc(90vh);
    max-height: calc(100% - 20px);
    margin-left: 10px;
}

/* .controlpanel================================================ */
.f_cover {
    display: block;
    width: 280px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;    
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
    /* box-shadow: -1px -1px 20px 4px rgba(34, 60, 80, 0.28) inset; */
 }
#svg_cover {
    width: 278px;
    height: 278px; }

.f_panel {
    display: block;
    width: 280px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #9dcefe;
    margin-top: 10px;    
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.2);
    /* background-color: blueviolet; */
}

.f_trackinfo {
    width: 280px;
    /* height: 400px; */
    background-color: white;
    border-radius: 5px;
    border: 1px solid #9dcefe;
    text-align: left;
    margin-top: 10px;
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.2); }
.f_trackinfo table {
    width: 100%;
    max-height: 100%;
    font-size: small; }


.track_name {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
 }
.track_time {
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    font-size: small;
    color: white; }
.track_timeline {
    display: block;
    width: 100%;
    height: 20px; }
.track_buttons {
    display: flex;
    justify-content: space-between;
    /* display: block; */
    width: 80%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
 }
.track_volume_elem {
    display: block;
    width: 100%;
    height: 40px;
    float: right;
    padding-right: 10px;
    color: white;
    font-size: small;
    font-weight: 700; }


/* .other================================================ */

.tagval { text-align: center; }
.tagkey {
    text-align: left;
    padding-left: 3px; }

.playlist_name {
    display: inline-block;
    height: 24px;
    color: white;
    float: left;
    margin-bottom: 10px; }

.controlpanel table { width: 100%; }

.track_buttons_elem {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0); }
.track_buttons_elem:hover {
    cursor: pointer;
    opacity: .9; }

.track_buttons_elem svg:active { color: rgb(238, 238, 238); }

.track_rangetime {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }


.rotating_rect {
    animation: spin 2s linear infinite;
    transform-origin: center;
    transition: transform 0.3s ease; }

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.playlist_tabConfig {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.178);
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px 5px 0 5px;
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.2);
    font-size: small;
    cursor: pointer; }
.playlist_tabConfig:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(1px); }

.tableShow_config {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    z-index: 1000;
}

.tableShow_form {
    display: block;
    width: 400px;
    height: 210px;
    /* background-color: white; */
    background-color: rgb(12, 142, 218);
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 1px 1px 33px 4px rgba(34, 60, 80, 0.28);
}

.tableShow_header {
    display: block;
    height: 20px;
    padding: 3px 5px;
    border-top: 2px solid rgb(12, 142, 218);
    border-left: 2px solid rgb(12, 142, 218);
    border-right: 2px solid rgb(12, 142, 218);
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 5px 5px 0 0; }

.tableShow_content {
    display: block;
    width: 99%;
    height: calc(100% - 32px);
    background-color: white;
    border-radius: 0 0 5px 5px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.header_txt {
    display: inline-block;
    float: left;
    font-weight: 700; }

.header_button {
    display: inline-block;
    float: right;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transform: translateY(1px);
    }
}

.tableShow_content_elem {
    display: inline-block;
    width: 150px;
    background-color: white;
    padding: 3px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
}

.tableShow_butpannel {
    display: block;
    width: 100%;
    border-top: 1px solid lightgray;
    padding-top: 5px;
 }

.button_suc,
.button_err {
    border-radius: 5px;
    cursor: pointer;
    color: black; }
.button_suc {
    background-color: lightgreen;
    border: 1px solid rgb(100, 167, 100); }
.button_suc:hover {
    background-color: rgba(144, 238, 144, 0.85);
    transform: translateY(1px); }
.button_err {
    background-color: coral;
    border: 1px solid rgb(175, 87, 54); }
.button_err:hover {
    background-color: rgba(255, 127, 80, 0.85);
    transform: translateY(1px); }

.tableShow_butpannel .button_suc,
.tableShow_butpannel .button_err {
    display: inline-block;
    width: 38%;
    min-width: 100px;
    height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px; }

.music_playlist {
    display: block;
    width: 99%;
    height: calc(100% - 34px);
    margin: 0 auto 5px;
    border-radius: 5px;
    padding: 1px;
    background-color: white;
    box-shadow: -1px -1px 33px 4px rgba(34, 60, 80, 0.28) inset;
    overflow: hidden;
    overflow-y: auto;
}

.music_playlist table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    position: sticky;
    top: 0;
    background-color: rgb(243, 243, 243);
    z-index: 10;
}

.table-header th {
    padding: 8px 4px;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 2px solid #e0e0e0;
}

.track-row {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.track-row:hover {
    background-color: rgba(227, 255, 160, 0.2);
}

.track-row.active {
    background-color: rgb(227, 250, 160);
    font-weight: 600;
}

.music_playlist td {
    padding: 6px 4px;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.track-number {
    width: 40px;
    text-align: center;
}

.track-artist {
    width: 150px;
}

.track-album {
    width: 120px;
}

.track-title {
    text-align: left;
}

.track-duration {
    width: 60px;
    text-align: center;
    font-family: 'Courier New', monospace;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: #666;
    text-align: center;
}

.empty-hint {
    font-size: 11px;
    color: #999;
    margin-top: 5px;
}



/* @media (max-width: 480px) {
    .playlist {
        display: block;
        width: 315px;
        margin-top: 5px; }
    .controlpanel {
        display: block;
        width: 295px;
        height: 200px;
        padding: 10px 10px 0 10px; }
    .playlist_arr {
        display: block;
        width: 295px;
        height: calc(98vh - 230px);
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: small; }    
    .f_cover, .playlist_name { display: none; }
    .track_buttons_elem { width: 50px; }
    .track_volume_elem {
        height: 20px;
        float: none;
        padding: 0; }
    .track_volume_elem .track_buttons_elem {
        width: 80px;
        height: 20px; }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .playlist {
        display: block;
        width: 475px; }
    .controlpanel {
        display: block;
        width: 455px;
        height: 220px;
        padding: 10px 10px 0 10px; }
    .playlist_arr {
        display: block;
        width: 465px;
        height: calc(98vh - 240px);
        padding: 0;
        margin-left: auto;
        margin-right: auto; }    
    .f_cover { display: none; }
    .f_panel {
        width: 455px;
        height: 190px;
        margin-left: auto;
        margin-right: auto; }
    .f_trackinfo { display: none; }
    .playlist_name { padding-left: 3px; }
    .track_buttons_elem { width: 80px; }
    .track_volume_elem {
        height: 20px;
        float: none;
        padding: 0; }
    .track_volume_elem .track_buttons_elem {
        width: 80px;
        height: 20px; }
}

@media (min-width: 769px) and (max-width: 992px) {
    .playlist {
        width: 760px; }
    .controlpanel {
        width: 300px;
        height: 500px;
        padding: 10px; }
    .playlist_arr {
        width: 640px;
        height: 480px;
        padding: 10px 10px 10px 0; }

    .f_cover {
        width: 300px;
        height: 180px; }
    #svg_cover {
        width: 178px;
        height: 178px; }
    
    .f_panel {
        display: block;
        width: 300px;
        height: 220px;
    }

    .f_trackinfo { display: none;}
}

@media (min-width: 993px) and (max-width: 1200px) {
    .playlist {
        width: 970px; }
    .controlpanel {
        width: 300px;
        height: 580px;
        padding: 10px; }
    .playlist_arr {
        width: 640px;
        height: 580px;
        padding: 10px 10px 10px 0; }

    .f_trackinfo {
        display: block;
        width: 300px;
        height: 230px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        overflow-y: auto;
        box-shadow: -1px -1px 33px 4px rgba(34, 60, 80, 0.28) inset; }
        
    .f_cover {
        width: 280px;
        height: 150px; }
    #svg_cover {
        width: 148px;
        height: 148px; }
    
}

@media (min-width: 1201px) and (max-width: 1439px) {
    .playlist {
        width: 1180px; }
    .controlpanel {
        width: 300px;
        height: 780px;
        padding: 10px; }
    .playlist_arr {
        width: 850px;
        height: 780px;
        padding: 10px 10px 10px 0; }

    .f_trackinfo {
        display: block;
        width: 300px;
        height: 300px;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px -1px 33px 4px rgba(34, 60, 80, 0.28) inset; }   
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .playlist {
        width: 1400px; }
    .controlpanel {
        width: 300px;
        height: 780px;
        padding: 10px;
     }  
    .playlist_arr {
        width: 1070px;
        height: 780px;
        padding: 10px 10px 10px 0; }

    .f_trackinfo {
        display: block;
        width: 300px;
        height: 300px;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px -1px 33px 4px rgba(34, 60, 80, 0.28) inset; }   
}

@media (min-width: 1920px) {
    .playlist {
        width: 1600px; }
    .controlpanel {
        width: 300px;
        height: 980px;
        padding: 10px;
     }  
    .playlist_arr {
        width: 1270px;
        height: 980px;
        padding: 10px 10px 10px 0; }

    .f_trackinfo {
        display: block;
        width: 300px;
        height: 500px;
        background-color: white;
        border-radius: 5px;
        box-shadow: -1px -1px 33px 4px rgba(34, 60, 80, 0.28) inset; }
} */