.music_player {
    display: block;
    width: 99%;
    height: 840px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    box-shadow: -1px -1px 33px 4px rgba(34, 60, 80, 0.28) inset;
    margin-bottom: 5px;
}

.music_player table {
    width: 100%;
    min-height: 50%;
}

.music_player tr { background-color: rgba(227, 255, 160, 0.089); }

.music_player td {
    text-align: right;
    font-size: small;
}

.active { background-color: rgb(227, 250, 160) !important; }