body {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    /* background-image: url('./assets/fn.png'); */
    /* background-size: contain; */
    padding: 0;
    margin: 0;
    background-color: rgb(12, 142, 218);
}

#app {
    display: block;
    width: 100%;
    -webkit-animation: displace 10s linear infinite;
    animation: displace 10s linear infinite;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    /* padding: 5px 0; */
    overflow: hidden;
}
